* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:#111720;
    font-family: 'Macondo', sans-serif;
    line-height: 1.5;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 40px 0;
}

#header-title {
    font-family: 'Macondo', cursive;
    color: rgb(104, 169, 245);
    font-size: 40px;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:  40px;
}

.info {
    text-align: center;
    font-family: 'Macondo', sans-serif;
    font-size: 18px;
    color: rgb(225, 215, 215)
}

.lives-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
    font-family: 'Macondo', cursive;;
    font-size: 20px;
    margin-bottom: 30px;
    color: whitesmoke;
}

.user-lives-box, .cpu-lives-box {
    width: 209px;
    height: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 2px double lightblue;
    padding: 15px;
    text-align: center;
    transition: 0.3s;
}

.lives-label {
    margin: 10px;
}

#user-lives, #cpu-lives {
    font-size: 28px;
}

.choices-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.btn {
    padding: 10px;
    border-radius: 10px;
    width: 160px;
    height: 160px;
    font-size: 70px;
    transition: all 0.3s ease;
}

.btn:hover, .close-dialog:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px 1px #fff;
}

.results {
    margin: 60px;
    font-size: 28px;
    color: white;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: white;
}

dialog {
    margin: auto;
    border-radius: 16px;
    border: 2px solid lightgray;
    background-color: #222831;
    color: white;
    font-size: 22px;
    animation: appear 0.7s ease forwards;

}

@keyframes appear {
    0%{opacity: 0}
    100%{opacity: 1;}
}

.modal {
    align-items: center;
    padding: 40px 60px;
    text-align: center;
}
.close-dialog {
    padding: 10px 20px;
    background-color: black;
    color: whitesmoke;
    font-size: 16px;
    margin-top: 8px;
    transition: all 0.1s ease-in;
}

#github-icon {
    transition: all 0.3s ease-in-out;
}

#github-icon:hover {
    transform: rotate(-720deg);
}


@media screen and (max-height:700px), (max-width: 400px) {
    html {
        overflow-x: hidden;
    }

    .btn {
        width: 80px;
        height: 80px;
    }

    #rock, #paper, #scissors {
        font-size: 35px;
    }

    #user-lives, #cpu-lives {
        font-size: 18px;
    }

    .user-lives-box, .cpu-lives-box {
        width: 167px;
        height: 90px;
    }

    .info {
        font-size: 16px;
    }

    .results {
        font-size: 20px;
    }
}